style.
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(30, 25, 40);
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  .container {

  }

  .container h1 {
    text-align: center;
    color: white;
    font-size: 45px;
  }

  .upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .no-pointer-events {
    pointer-events: none;
  }

  .btn {
    width: fit-content;
    display: inline-block;
    padding: 0.5em 0;
    margin: 0 auto;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    border-color: currentColor;
    text-decoration: underline;
    cursor: pointer;
    transition: all 200ms ease;
  }

  a {
    color: inherit;
  }

  .hidden {
    display: none;
  }